body{
    font-family: Poppins,sans-serif;
background-color: white;
   
text-align: center;
    
}

.start-container{
background-color: #99A0FA;
color: white;
    height: 844px;
    width: 390px;
margin: 24px auto;
padding: 2rem;
}


img{
    width: 200px;
    padding-bottom: 1.5rem ;
}
.about{
    color: white;
padding: 2rem 0;


   
}
.weather{
    font-size: 3rem ;
    font-weight: bold;
    margin: 1rem 0;
}
.name{
    font-size: 1.5rem;
}
button{
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
    background-color: #5C6EE5; 
    color: white;
    margin: 1rem 0;
}
a{
    text-decoration: none;
}
.start{
    display: flex;
    flex-direction: column;
}
form{
    
    display: flex;
    flex-direction: column;
justify-content: center;
    gap: 1rem;
    
}
input{
    padding: 0.8rem ;
    border: none ;
    border-radius: 1rem;
}
/* most of home styling goes here*/
.home-container{
    height: 844px;
    width: 390px;
    border:solid #f1f1f1 ;
    margin: 24px auto;
color: #5C6EE5;
    padding: 1.5rem;
   
}
nav{
    padding-bottom: 1rem ;
    border-bottom: solid #f1f1f1 ;
}
.nav-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    justify-content: space-between;
    color: #5C6EE5;
}
.location{
    margin-bottom: .5rem;
}
.location-name{
padding: 1rem 1rem;
}
.date{
    font-size: 0.6rem;
}

main{
   text-align: left;
}
.highlights{
    text-align: center;
    border-bottom: 3px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
padding-bottom: 32px;
border-radius: 32px;
margin-bottom: 4rem;
}
.temperature{
    display: flex;
    justify-content: row;
    padding: 0;
}
.temp{
    font-size: 8rem;
    
}
.unit{
    font-size: 2rem;
}
.temp-hero{
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    justify-content: center;
    
}

.cloud{
    position: relative;
    right: 4rem;
    bottom: -2rem;
color: rgb(188, 211, 246);
}
.long-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
  background-color: #E9E7FF;
  padding: .5rem 1rem;
  border-radius: 24px;
box-shadow: rgba(0,0,0, .3);
}
.card-des{
    display: flex;
    flex-direction: column;
}
.long-card span{
    font-size: 1rem;
}
.long-card p{
    font-size: 0.5rem;
}

/*cards below*/
.details-cards{
     display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.details-card-active{
    background-color: #4C4DDB;
    display: flex;
    flex-direction: column;
    padding:1rem;
    border-radius: 16px;
    color: white;
    align-items: center;
    font-size: .8rem;
    gap: 8px;
}
.details-card{
  background-color: #E9E7FF;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 16px;
    color: #4C4DDB;
    align-items: center;
    font-size: .8rem;
    gap: 8px;

}